<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tzachsolomon.spendingtracker"
    android:versionCode="44"
    android:versionName="0.44" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >
        <activity
            android:name="com.tzachsolomon.spendingtracker.ActivityMain"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="About"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.tzachsolomon.spendingtracker.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tzachsolomon.spendingtracker.ActivityHelp"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.tzachsolomon.spendingtracker.ActivityPreferences"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.tzachsolomon.spendingtracker.PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewEntriesToday"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.tzachsolomon.spendingtracker.TODAYSENTRIES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ViewStatistics"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="CategoriesManager"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ViewEntriesReminders"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ViewEntriesRemindersLocation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ViewEntriesMonth"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ViewEntriesSpent"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EditEntrySpent"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name=".SpendingTrackerTimeService"
            android:process=":SpendingTrackerTimeService" >
        </service>
        <service android:name="SpendingTrackerLocationService" >
        </service>

        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>